@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

body{
    background-color: rgb(186, 159, 211);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

}

.footer {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    text-align: center;
    padding: 17px;
    position: fixed;
    width: 100%;
    bottom: 0;

}

header {
    background-color: rgb(255, 255, 255, 0.37);
    padding: 20px;
    text-align: center;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color:  rgb(186, 159, 211);
    padding: 10px 0;
    border-radius: 10px;
}

header h1 {
    color: #16062c;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.card {
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 20px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    color: aqua;
}

.secao4 {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.secao4-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.secao4-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.337);
    transition: all 0.5s ease;

}

.secao4-div-card:hover {
    transform: scale(1.1);
    z-index: 1;
    background-color: #f3f3f3;
}

h3{
    color: rgb(139, 103, 173);
}

a{
    color: rgb(164, 134, 224);
    text-decoration: none;
}

/* button{
    visibility: hidden;
}

.secao4-div-card:hover button{
    visibility: visible;
} */
